@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background-color: #2a323dd8;
  color: white;
}

button{
  padding: 8px;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  color: rgb(27, 27, 27);
  background-color: #8a8c8e;
  border: #8a8c8e;
  font-weight: 600;
  font-family: inherit;
}

button:hover{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: 1s all ease;
}

.container{
  width: 1280px;
  margin: auto;
}

header{background-color: #3a4149;}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0 20px;
  background-color: #3a4149;
}

#header button{
  font-family: inherit;
  border-radius: 15px;
}

#create_card{
  display: none;
  width: 370px;
  margin:auto;
  padding: 20px;
  margin-top: 10px;
  background-color: #20262e7b;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  font-weight: 600;
}

#create_card h2{
  color: rgb(255, 255, 255);
  text-align: center;
}

#create_card textarea{
  text-align: center;
  margin-top: 3px;
  margin-bottom: 4px;
  width: 100%;
  border-radius: 7px;
  font-family: inherit;
  resize: none;
}

#create_card button{width: fit-content;}

#flashcards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  padding: 0px 10px;
}

.flashcard{
  width: 370px;
  height: 200px;
  word-wrap: break-word;
  margin: 10px; 
  cursor: pointer;
  background-color: #20262e7b;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
  position: relative;
  border-radius: 15px;
}

.flashcard h2{font-size: 1rem;}

@media(max-width:1280px){
  .container{width: 100%;}
}

@media(max-width:768px){
  .flashcard{margin: auto;}

  .flashcard{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media(max-width:480px){
  #header{
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  #create_card{width: 95%;}

  .flashcard{width: 100%;}

}