@media (max-width: 720px) {
    body {
        background: rgb(234,217,191);
        background: linear-gradient(38deg, rgba(234,217,191,1) 38%, rgba(174,225,225,1) 100%); 
    }

    .title {
        font-size: 19px;
    }

    .subtitle {
        margin-bottom: 35px;
        font-size: 15px;
    }

    .text {
        margin-bottom: 29px;
        font-size: 14px;
    }

    .btn {
        font-size: 15px;
    }
}

@media (max-width: 560px) {
    .logo-wrapper {
        width: 120px;
    }

    .title {
        font-size: 18px;
    }

    .subtitle {
        margin-bottom: 22px;
        font-size: 14px;
    }

    .text {
        margin-bottom: 20px;
        font-size: 13px;
    }

    .btn {
        font-size: 13px;
        padding: 13px 30px;
    }

}

@media (max-width: 480px) {
    .title {
        margin-bottom: 15px;
    }

    .subtitle {
        margin-bottom: 28px;
        font-size: 13px;
    }

    .text {
        font-size: 12px;
    }

    .text-img {
        width: 13px;
        height: 13px;
        margin-right: 3px;
    }
}

@media (max-width: 366px) {
    .title {
        font-size: 16px;
    }

    .subtitle {
        margin-bottom: 28px;
        font-size: 12px;
    }

    .text {
        font-size: 11px;
    }
}

@media (max-width: 325px) {
    .title {
        font-size: 15px;
        margin-bottom: 12px;
    }

    .subtitle {
        margin-bottom: 15px;
        font-size: 10px;
    }

    .text {
        font-size: 9px;
        margin-bottom: 16px;
    }
    
    .text-img {
        width: 11px;
        height: 11px;
    }

    .btn {
        font-size: 12px;
        padding: 12px 30px;
    }

    .btn-img {
        width: 15px;
    }

}

@media (max-width: 325px) {
    .subtitle {
        font-size: 9px;
    }

    .btn {
        padding: 12px 15px;
    }
}